[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
feedparser = '*'
beautifulsoup4 = "*"
sqlalchemy = "*"
psycopg2 = "*"
click = "*"
python-dotenv = "*"
plotly = "*"
dash = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
